html {
  font-family: sans-serif;
}

body {
  width: 70%;
  max-width: 960px;
  margin: 20px auto;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}

div {
  height: 100px;
  border: 1px solid black;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* justify-content: space-between; */
}

/* button:first-child {
    align-self: flex-end;
} */

button:first-child {
  order: 1;
}

button:last-child {
  order: -1;
}
